.auto-style7 {
	background-color: #FFFFFF;
	white-space: nowrap;
	font-size: small;
}
.auto-style16 {
	text-align: center;
	background-color: #666666;
}
.auto-style34 {
	background-color: #666666;
}
.auto-style40 {
	background-color: #FFFFFF;
	text-align: right;
	font-family: Calibri;
	font-size: medium;
}
.auto-style44 {
	text-align: center;
	background-color: #666666;
	font-family: Calibri;
	color: #FFFFFF;
	font-size: medium;
}
.auto-style54 {
	text-align: center;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: small;
	background-color: #FFFFFF;
	}
.auto-style75 {
	text-align: left;
}
.auto-style76 {
	background-color: #FFFFFF;
	text-align: center;
	font-family: Calibri;
	font-size: medium;
}
.auto-style77 {
	white-space: normal;
	text-align: center;
	font-family: Calibri;
	font-size: medium;
	background-color: #FFFFFF;
}
.auto-style78 {
	font-family: Calibri;
	font-size: medium;
}
.auto-style79 {
	color: #FF0000;
}
.auto-style80 {
	font-size: medium;
}
.auto-style15 {
	font-family: Calibri;
	font-size: medium;
	text-transform: uppercase;
}
.auto-style82 {
	text-align: right;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: small;
	background-color: #FFFFFF;
}
.auto-style83 {
	white-space: normal;
	text-align: center;
	font-family: Calibri;
	font-size: x-small;
	background-color: #FFFFFF;
}
.auto-style84 {
	text-align: center;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: x-small;
	background-color: #FFFFFF;
}
.auto-style85 {
	text-align: right;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: x-small;
	background-color: #FFFFFF;
}
.auto-style86 {
	text-align: center;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: x-small;
	background-color: #C0C0C0;
	text-decoration: underline;
}
.auto-style87 {
	text-align: center;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: x-small;
	background-color: #C0C0C0;
}
.auto-style88 {
	white-space: normal;
	text-align: center;
	font-family: Calibri;
	font-size: medium;
	background-color: #666666;
}
.auto-style89 {
	background-color: #666666;
	text-align: center;
	font-family: Calibri;
	font-size: medium;
}
.auto-style90 {
	background-color: #FFFFFF;
	text-align: right;
	font-family: Calibri;
	font-size: medium;
	text-decoration: underline;
}
.auto-style91 {
	font-size: medium;
}
